* {
    margin: 0;
    padding: 0;
}

ul, ol {
    list-style: none;
    padding: 0;
}

a {
    text-decoration: none !important;
    display: inline-block;
}

h1, h2, h3, h4, h5, h6, p {
    margin: 0;
}

html, body {
    overflow-x: hidden;
    scroll-behavior: smooth;
}

.main {
    display: flex;
}

.title {
    text-align: center;
    width: 600px;
    margin: 50px auto;
}

.title h2 {
    font-family: 'Raleway', sans-serif;
    font-size: 35px;
    font-weight: 500;
    color: #444;
    margin-bottom: 20px;
}

.title p {
    font-family: 'Open Sans', sans-serif;
    font-size: 14px;
    font-weight: 400;
    color: #444;
}

/* ================================
    website preloader start
==================================== */

.preloader {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    background-color: #111111;
    width: 100vw;
    height: 100vh;
    z-index: 9999;
    position: fixed;
}

.preloader .center-preloader {
    position: relative;
    -webkit-box-reflect: below 5px linear-gradient(to bottom, rgba(3, 37, 108, 0), rgb(57, 162, 219, 0.4));
}

.preloader .center-preloader h1 {
    font-family: Merriweather;
    font-size: 5rem;
    font-weight: 700;
    letter-spacing: .5rem;
    color: rgb(0, 255, 0);
    text-transform: capitalize;
    position: relative;
    overflow: hidden;
    animation: loading 5s steps(10) infinite;
    -webkit-animation: loading 5s steps(10) infinite;
}

@keyframes loading {
    0% {
        width: 0;
    }
    25% {
        width: 486.04px;
    }
    50% {
        width: 486.04px;
    }
    75% {
        width: 0;
    }
    100% {
        width: 0;
    }
}

.preloader .center-preloader::after {
    content: "";
    width: .2rem;
    height: 100%;
    background-color: rgb(0, 255, 0);
    position: absolute;
    top: 0;
    right: 0;
    animation: blink 1s linear infinite alternate;
    -webkit-animation: blink 1s linear infinite alternate;
}

@keyframes blink {
    0%, 25% {
        transform: scale(1);
        -webkit-transform: scale(1);
        -moz-transform: scale(1);
        -ms-transform: scale(1);
        -o-transform: scale(1);
    }
    50%, 100% {
        transform: scale(0);
        -webkit-transform: scale(0);
        -moz-transform: scale(0);
        -ms-transform: scale(0);
        -o-transform: scale(0);
    }
}

/* ================================
    website preloader end
==================================== */

/* ================================
    website backtotop start
==================================== */

.backtotop {
    display: none;
    width: 50px;
    height: 50px;
    line-height: 50px;
    text-align: center;
    position: fixed;
    bottom: 30px;
    right: 30px;
    background-color: rgb(0, 255, 0);
    color: #111111;
    font-size: 25px;
    border: none;
    border-radius: 50%;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    -ms-border-radius: 50%;
    -o-border-radius: 50%;
}

/* ================================
    website backtotop end
==================================== */

/* =================================
    navbar start
==================================== */

nav {
    background: transparent;
    border-bottom: 1px solid rgba(0, 255, 0, 0.6);
    position: absolute !important;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 999;
    padding: 20px 0px !important;
}

nav ul li {
    margin: 0 5px;
}

nav ul li a {
    font-family: 'Raleway', sans-serif;
    font-size: 16px;
    font-weight: 500;
    color: #fff !important;
    position: relative;
    transition: all linear .4s !important;
    -webkit-transition: all linear .4s !important;
    -moz-transition: all linear .4s !important;
    -ms-transition: all linear .4s !important;
    -o-transition: all linear .4s !important;
}

nav ul li a:after {
    width: 100%;
    height: 3px;
    background: rgb(0, 255, 0);
    position: absolute;
    bottom: -32px;
    left: 0;
    content: "";
    opacity: 0;
    transition: all linear .4s;
    -webkit-transition: all linear .4s;
    -moz-transition: all linear .4s;
    -ms-transition: all linear .4s;
    -o-transition: all linear .4s;
}

nav ul li:hover a {
    color: rgb(0, 255, 0) !important;
}

nav ul li .active {
    color: rgb(0, 255, 0) !important;
}

nav ul li .active:after {
    opacity: 1;
}

nav ul li:hover a:after {
    opacity: 1;
}

.fixedmenu {
    position: fixed !important;
    top: 0;
    left: 0;
    background-color: #111111;
    padding: 8px !important;
}

.fixedmenu ul li a::after {
    bottom: -18px;
}

/* =================================
    nav end
==================================== */

/* =================================
    banner start
==================================== */

#banner-part {
    clip-path: polygon(0 0, 100% 0, 100% 83%, 0 95%);
}

#banner-part .banner {
    background: url(../images/banner.jpg) no-repeat center;
    background-size: cover;
}

#banner-part .banner2 {
    background: url(../images/banner1.jpg) no-repeat center;
}

#banner-part .banner3 {
    background: url(../images/banner2.jpg) no-repeat center;
}

#banner-part .banner .overlay {
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, .7);
    text-align: center;
    padding: 200px 0;
    color: #fff;
}

#banner-part .banner .overlay h2 {
    font-family: 'Raleway', sans-serif;
    font-size: 36px;
    font-weight: 400;
}

#banner-part .banner .overlay h1 {
    font-family: 'Raleway', sans-serif;
    font-size: 55px;
    font-weight: 700;
    text-transform: uppercase;
    color: rgb(0, 255, 0);
    margin-bottom: 10px;
}

#banner-part .banner .overlay p {
    font-family: 'Open Sans', sans-serif;
    font-size: 14px;
    font-weight: 400;
    width: 543px;
    margin: 0px auto;
    color: #f1f1f1;
}

#banner-part .banner .overlay a {
    font-family: 'Raleway', sans-serif;
    font-size: 16px;
    font-weight: 500;
    padding: 10px 15px;
    background: rgb(0, 255, 0);
    border: 1px solid rgb(0, 255, 0);
    color: #000;
    transition: all linear .4s;
    margin: 0px 10px;
    margin-top: 50px;
    -webkit-transition: all linear .4s;
    -moz-transition: all linear .4s;
    -ms-transition: all linear .4s;
    -o-transition: all linear .4s;
}

#banner-part .banner .overlay .hire-btn {
    background-color: transparent;
    border-color: #f1f1f1;
    color: #f1f1f1;
    padding: 10px 30px;
}

#banner-part .banner .overlay a:hover {
    background: transparent;
    border-color: #fff;
    color: #fff;
}

#banner-part .banner .overlay .hire-btn:hover {
    background: rgb(0, 255, 0);
    border: 1px solid rgb(0, 255, 0);
    color: #000;
}

#banner-part .banner-slider .prev {
    background-color: #fff;
    color: #000000;
    width: 40px;
    height: 40px;
    text-align: center;
    line-height: 40px;
    font-size: 20px;
    position: absolute;
    top: 50%;
    left: 30px;
    z-index: 99;
    border-radius: 50%;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    -ms-border-radius: 50%;
    -o-border-radius: 50%;
    transform: translate(-50%, -50%);
    -webkit-transform: translate(-50%, -50%);
    -moz-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    -o-transform: translate(-50%, -50%);
    transition: all linear .4s;
    -webkit-transition: all linear .4s;
    -moz-transition: all linear .4s;
    -ms-transition: all linear .4s;
    -o-transition: all linear .4s;
}

#banner-part .banner-slider .next {
    background-color: #fff;
    color: #000000;
    width: 40px;
    height: 40px;
    text-align: center;
    line-height: 40px;
    font-size: 20px;
    position: absolute;
    top: 50%;
    right: -10px;
    z-index: 99;
    border-radius: 50%;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    -ms-border-radius: 50%;
    -o-border-radius: 50%;
    transform: translate(-50%, -50%);
    -webkit-transform: translate(-50%, -50%);
    -moz-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    -o-transform: translate(-50%, -50%);
    transition: all linear .4s;
    -webkit-transition: all linear .4s;
    -moz-transition: all linear .4s;
    -ms-transition: all linear .4s;
    -o-transition: all linear .4s;
}

#banner-part .banner-slider .prev:hover {
    background-color: rgb(0, 255, 0);
}

#banner-part .banner-slider .next:hover {
    background-color: rgb(0, 255, 0);
}

/* =================================
    banner end
==================================== */

/* =================================
    about start
==================================== */

#about-part {
    margin-top: 80px;
}

#about-part .item {
    background: #eeeeee;
    margin-bottom: 50px;
    text-align: center;
    padding: 20px 25px;
    position: relative;
    transition: all linear .4s;
    -webkit-transition: all linear .4s;
    -moz-transition: all linear .4s;
    -ms-transition: all linear .4s;
    -o-transition: all linear .4s;
}

#about-part .item h3 {
    font-family: 'Raleway', sans-serif;
    font-size: 16px;
    font-weight: 500;
    color: #000;
    margin-bottom: 20px;
}

#about-part .item p {
    font-family: 'Open Sans', sans-serif;
    font-size: 14px;
    font-weight: 400;
    color: #000;
}

#about-part .smalld {
    display: none;
}

#about-part .item .shape {
    width: 20px;
    height: 20px;
    background: #eeeeee;
    position: absolute;
    bottom: 0;
    left: 50%;
    transform: translate(-50%, 50%) rotate(45deg);
    -webkit-transform: translate(-50%, 50%) rotate(45deg);
    -moz-transform: translate(-50%, 50%) rotate(45deg);
    -ms-transform: translate(-50%, 50%) rotate(45deg);
    -o-transform: translate(-50%, 50%) rotate(45deg);
}

#about-part .item .dot {
    color: #000;
    position: absolute;
    bottom: -50px;
    left: 50%;
    transform: translate(-50%, 50%);
    font-size: 20px;
    transition: all linear .4s;
    -webkit-transition: all linear .4s;
    -moz-transition: all linear .4s;
    -ms-transition: all linear .4s;
    -o-transition: all linear .4s;
}

#about-part .item:hover {
    filter: drop-shadow(1px 1px 3px rgba(0, 0, 0, .2));
}

#about-part .item:hover .dot {
    color: rgb(0, 255, 0);
}

/* item2 start */

#about-part .item2 {
    margin-bottom: 0px;
    margin-top: 50px;
}

#about-part .item2 .shape {
    position: absolute;
    top: 0;
    left: 50%;
    transform: translate(-50%, -50%) rotate(45deg);
}

#about-part .item2 .dot {
    position: absolute;
    top: -334px;
    left: 50%;
    transform: translate(-50%, 50%);
}

/* item2 end */

/* item3 start */

#about-part .alignment {
    display: flex;
    align-items: center;
}

#about-part .item3 {
    margin-bottom: 0px;
    margin-right: 10px;
    text-align: right;
}

#about-part .item3 .shape {
    position: absolute;
    top: 50%;
    left: 94%;
    transform: translate(50%, -50%) rotate(45deg);
    -webkit-transform: translate(50%, -50%) rotate(45deg);
    -moz-transform: translate(50%, -50%) rotate(45deg);
    -ms-transform: translate(50%, -50%) rotate(45deg);
    -o-transform: translate(50%, -50%) rotate(45deg);
}

#about-part .item3 .dot {
    position: absolute;
    top: 73%;
    right: -264px;
    transform: translate(-50%, -50%);
    transition: all linear .4s;
    -webkit-transform: translate(-50%, -50%);
    -moz-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    -o-transform: translate(-50%, -50%);
    -webkit-transition: all linear .4s;
    -moz-transition: all linear .4s;
    -ms-transition: all linear .4s;
    -o-transition: all linear .4s;
}

/* item3 end */

/* item4 start */

#about-part .alignment {
    display: flex;
    align-items: center;
}

#about-part .item4 {
    margin-bottom: 0px;
    text-align: left;
    margin-left: 10px;
}

#about-part .item4 .shape {
    position: absolute;
    top: 50%;
    left: 0;
    transform: translate(-50%, -50%) rotate(45deg);
}

#about-part .item4 .dot {
    position: absolute;
    top: 73%;
    left: -29px;
    transform: translate(-50%, -50%);
    transition: all linear .4s;
    -webkit-transform: translate(-50%, -50%);
    -moz-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    -o-transform: translate(-50%, -50%);
    -webkit-transition: all linear .4s;
    -moz-transition: all linear .4s;
    -ms-transition: all linear .4s;
    -o-transition: all linear .4s;
}

/* item4 end */

#about-part .round {
    width: 360px;
    height: 360px;
    border: 1px solid #000;
    border-radius: 50%;
    margin: 0 auto;
    display: flex;
    justify-content: center;
    align-items: center;
}

#about-part .round .img {
    width: 320px;
    height: 320px;
    border-radius: 50%;
    position: relative;
}

#about-part .round .img .img-overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.6);
    border-radius: 50%;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    -ms-border-radius: 50%;
    -o-border-radius: 50%;
}

#about-part .round .img img {
    width: 100%;
    height: 100%;
    border-radius: 50%;
}

/* =================================
    about end
==================================== */

/* =================================
    portfolio start
==================================== */

#portfolio-part {
    background: url(../images/portfolio-bg.jpg) no-repeat center;
    background-size: cover;
    margin-top: 80px;
    clip-path: polygon(0 10%, 100% 0, 100% 89%, 0% 100%);
}

#portfolio-part .overlay {
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, .7);
    padding: 150px 0;
}

#portfolio-part .overlay .title h2 {
    color: #f1f1f1;
}

#portfolio-part .overlay .title p {
    color: #f1f1f1;
}

#portfolio-part .overlay .item {
    margin: 0 10px;
    display: flex;
    flex-direction: column;
}

#portfolio-part .overlay .item .img {
    margin: 10px 0;
    position: relative;
    overflow: hidden;
}

#portfolio-part .overlay .item .img img {
    width: 100%;
    transition: all linear 2s;
    -webkit-transition: all linear 2s;
    -moz-transition: all linear 2s;
    -ms-transition: all linear 2s;
    -o-transition: all linear 2s;
}

#portfolio-part .overlay .item .img .img-overlay {
    width: 100%;
    height: 0;
    background: rgba(0, 0, 0, .7);
    position: absolute;
    top: 0;
    left: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    opacity: 0;
    transition: all linear .4s;
    -webkit-transition: all linear .4s;
    -moz-transition: all linear .4s;
    -ms-transition: all linear .4s;
    -o-transition: all linear .4s;
}

#portfolio-part .overlay .item .img .img-overlay i {
    width: 40px;
    height: 40px;
    background: #fff;
    border-radius: 50%;
    text-align: center;
    line-height: 40px;
    color: #000;
}

#portfolio-part .overlay .item .img:hover img {
    transform: scale(1.5) rotate(15deg);
    transition-delay: .4s;
}

#portfolio-part .overlay .item .img:hover .img-overlay {
    height: 100%;
    opacity: 1;
}

/* =================================
    portfolio end
==================================== */

/* =================================
    service start
==================================== */

#service-part {
    margin-top: 80px;
    position: relative;
}

#service-part .line {
    background: url(../images/border.png);
    width: 1px;
    height: 700px;
    position: absolute;
    top: 177px;
    left: 50%;
    transform: translateX(-50%);
}

#service-part .service-slider {
    margin-top: 50px;
}

#service-part .service {
    margin: 20px 0;
    display: flex;
    justify-content: space-between;
}

#service-part .service:nth-child(even) {
    flex-direction: row-reverse;
}

#service-part .service:nth-child(odd) .details {
    text-align: right;
}

#service-part .service .details {
    width: 40%;
    background: #eee;
    padding: 35px 30px;
    position: relative;
    transition: all linear .4s;
    -webkit-transition: all linear .4s;
    -moz-transition: all linear .4s;
    -ms-transition: all linear .4s;
    -o-transition: all linear .4s;
}

#service-part .service .details p {
    font-family: 'Open Sans', sans-serif;
    font-size: 14px;
    font-weight: 400;
    line-height: 24px;
}

#service-part .slick-center .details {
    filter: drop-shadow(1px 1px 3px rgba(0, 0, 0, .2));
}

#service-part .service .details .shape {
    width: 25px;
    height: 25px;
    position: absolute;
    top: 50%;
    left: 0;
    background-color: #eeeeee;
    transform: translate(-50%, -50%) rotate(45deg);
    -webkit-transform: translate(-50%, -50%) rotate(45deg);
    -moz-transform: translate(-50%, -50%) rotate(45deg);
    -ms-transform: translate(-50%, -50%) rotate(45deg);
    -o-transform: translate(-50%, -50%) rotate(45deg);
}

#service-part .service:nth-child(odd) .details .shape {
    position: absolute;
    top: 50%;
    left: 100%;
}

#service-part .service .img {
    width: 10%;
    display: flex;
    align-items: center;
    justify-content: center;
}

#service-part .service .img .round {
    width: 70px;
    height: 70px;
    background: #f1f1f1;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: all linear .4s;
    -webkit-transition: all linear .4s;
    -moz-transition: all linear .4s;
    -ms-transition: all linear .4s;
    -o-transition: all linear .4s;
}

#service-part .slick-center .img .round {
    transform: scale(1.2);
    background: rgb(0, 255, 0);
}

#service-part .service .img .round img {
    width: 50%;
    height: 50%;
}

#service-part .service .text {
    width: 40%;
    display: flex;
    justify-content: flex-start;
    align-items: center;
}

#service-part .service .text h2 {
    font-family: 'Raleway', sans-serif;
    font-weight: 500;
    font-size: 24px;
}

#service-part .service:nth-child(even) .text {
    justify-content: flex-end;
}

#service-part .service-slider .prev {
    background-color: #fff;
    color: #000000;
    width: 40px;
    height: 40px;
    text-align: center;
    line-height: 40px;
    font-size: 20px;
    position: absolute;
    top: 0;
    left: 50%;
    z-index: 99;
    border: 1px solid black;
    border-radius: 50%;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    -ms-border-radius: 50%;
    -o-border-radius: 50%;
    transform: translate(-50%, -50%);
    -webkit-transform: translate(-50%, -50%);
    -moz-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    -o-transform: translate(-50%, -50%);
    transition: all linear .4s;
    -webkit-transition: all linear .4s;
    -moz-transition: all linear .4s;
    -ms-transition: all linear .4s;
    -o-transition: all linear .4s;
}

#service-part .service-slider .next {
    background-color: #fff;
    color: #000000;
    width: 40px;
    height: 40px;
    text-align: center;
    line-height: 40px;
    font-size: 20px;
    position: absolute;
    bottom: -50px;
    left: 50%;
    z-index: 99;
    border: 1px solid black;
    border-radius: 50%;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    -ms-border-radius: 50%;
    -o-border-radius: 50%;
    transform: translate(-50%, -50%);
    -webkit-transform: translate(-50%, -50%);
    -moz-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    -o-transform: translate(-50%, -50%);
    transition: all linear .4s;
    -webkit-transition: all linear .4s;
    -moz-transition: all linear .4s;
    -ms-transition: all linear .4s;
    -o-transition: all linear .4s;
}

#service-part .service-slider .prev:hover {
    background-color: rgb(0, 255, 0);
    border-color: rgb(0, 255, 0);
}

#service-part .service-slider .next:hover {
    background-color: rgb(0, 255, 0);
    border-color: rgb(0, 255, 0);
}

/* =================================
    service end
==================================== */

/* =================================
    team part
==================================== */

#testimonial-part {
    background: url(../images/team-banner.jpg) no-repeat center;
    background-size: cover;
    margin-top: 80px;
    clip-path: polygon(0 10%, 100% 0, 100% 89%, 0% 100%);
}

#testimonial-part .depender {
    position: relative;
}

#testimonial-part .line {
    background: url(../images/br.png);
    width: 1px;
    height: 500px;
    position: absolute;
    top: 0;
    left: 50%;
    transform: translateX(-50%);
}

#testimonial-part .overlay {
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, .7);
    padding: 150px 0;
}

#testimonial-part .overlay .img {
    margin: 30px 0;
}

#testimonial-part .overlay .img .round {
    width: 100px;
    height: 100px;
    background: #eee;
    border-radius: 50%;
    overflow: hidden;
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: all linear .4s;
    margin: 0 auto;
    -webkit-transition: all linear .4s;
    -moz-transition: all linear .4s;
    -ms-transition: all linear .4s;
    -o-transition: all linear .4s;
}

#testimonial-part .overlay .img .round img {
    margin-top: 30px;
}

#testimonial-part .overlay .img .round .img-overlay {
    width: 100%;
    height: 100%;
    background: rgba(255, 255, 255, .6);
    border-radius: 50%;
    position: absolute;
    top: 0;
    left: 0;
    transition: .4s;
}

#testimonial-part .overlay .slick-center .round {
    transform: scale(1.2);
    background: rgb(0, 255, 0);
}

#testimonial-part .overlay .slick-center .round .img-overlay {
    opacity: 0;
}

#testimonial-part .details-slider {
    background: #eee;
    padding: 30px;
    position: relative;
    margin-top: 90px;
    width: 700px;
    margin-left: 80px;
}

#testimonial-part .details-slider::after {
    position: absolute;
    top: 50%;
    left: 0;
    width: 30px;
    height: 30px;
    background: #eee;
    content: "";
    transform: translate(-50%, -50%) rotate(45deg);
}

#testimonial-part .details-slider .details h3 {
    font-size: 20px;
    font-family: 'Raleway', sans-serif;
    font-weight: 500;
    color: #111111;
}

#testimonial-part .details-slider .details i {
    color: rgb(0, 255, 0);
    font-size: 14px;
}

#testimonial-part .details-slider .details h4 {
    font-size: 16px;
    font-family: 'Raleway', sans-serif;
    margin: 10px 0px;
    color: #353535;
}

#testimonial-part .details-slider .details p {
    color: #444444;
    font-family: 'Open Sans', sans-serif;
    font-size: 14px;
    line-height: 24px;
}

#testimonial-part .details-slider .details h6 {
    color: #111111;
    font-family: 'Sacramento', cursive;
    font-size: 24px;
    line-height: 24px;
    text-align: right;
    font-weight: 600;
    margin-top: 20px;
}

#testimonial-part .img-slider .prev {
    background-color: transparent;
    color: #ffff;
    width: 40px;
    height: 40px;
    text-align: center;
    line-height: 40px;
    font-size: 20px;
    position: absolute;
    top: -25px;
    left: 50%;
    z-index: 99;
    border: 1px solid #fff;
    border-radius: 50%;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    -ms-border-radius: 50%;
    -o-border-radius: 50%;
    transform: translate(-50%, -50%);
    -webkit-transform: translate(-50%, -50%);
    -moz-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    -o-transform: translate(-50%, -50%);
    transition: all linear .4s;
    -webkit-transition: all linear .4s;
    -moz-transition: all linear .4s;
    -ms-transition: all linear .4s;
    -o-transition: all linear .4s;
}

#testimonial-part .img-slider .next {
    background-color: transparent;
    color: #ffff;
    width: 40px;
    height: 40px;
    text-align: center;
    line-height: 40px;
    font-size: 20px;
    position: absolute;
    bottom: -70px;
    left: 50%;
    z-index: 99;
    border: 1px solid #fff;
    border-radius: 50%;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    -ms-border-radius: 50%;
    -o-border-radius: 50%;
    transform: translate(-50%, -50%);
    -webkit-transform: translate(-50%, -50%);
    -moz-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    -o-transform: translate(-50%, -50%);
    transition: all linear .4s;
    -webkit-transition: all linear .4s;
    -moz-transition: all linear .4s;
    -ms-transition: all linear .4s;
    -o-transition: all linear .4s;
}

#testimonial-part .img-slider .prev:hover {
    background-color: rgb(0, 255, 0);
    border-color: rgb(0, 255, 0);
    color: black;
}

#testimonial-part .img-slider .next:hover {
    background-color: rgb(0, 255, 0);
    border-color: rgb(0, 255, 0);
    color: black;
}

/* =================================
    team end
==================================== */

/* =================================
    pricing start
==================================== */

#pricing-part {
    margin-top: 80px;
}

#pricing-part .price {
    background: #eee;
}

#pricing-part .price h2 {
    font-family: 'Raleway', sans-serif;
    font-size: 20px;
    font-weight: 500;
    background: #444444;
    color: #fff;
    text-align: center;
    text-transform: uppercase;
    padding-top: 20px;
    padding-bottom: 80px;
    clip-path: polygon(0 0, 100% 0, 100% 76%, 0% 100%);
    transition: all linear .4s;
    -webkit-transition: all linear .4s;
    -moz-transition: all linear .4s;
    -ms-transition: all linear .4s;
    -o-transition: all linear .4s;
}

#pricing-part .price .details {
    position: relative;
}

#pricing-part .price .details .round {
    width: 100px;
    height: 100px;
    border: 1px solid #444;
    background: #eee;
    border-radius: 50%;
    position: absolute;
    top: -20px;
    left: 50%;
    transform: translate(-50%, -50%);
    display: flex;
    justify-content: center;
    align-items: center;
}

#pricing-part .price .details .round .permonth {
    width: 90px;
    height: 90px;
    border-radius: 50%;
    background: #444;
    color: #fff;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    transition: all linear .4s;
    -webkit-transition: all linear .4s;
    -moz-transition: all linear .4s;
    -ms-transition: all linear .4s;
    -o-transition: all linear .4s;
}

#pricing-part .price .details .round .permonth h5 {
    font-family: 'Raleway', sans-serif;
    font-size: 28px;
    font-weight: 400;
    margin-bottom: 5px;
}

#pricing-part .price .details .round .permonth h6 {
    font-family: 'Raleway', sans-serif;
    font-size: 14px;
    font-weight: 400;
}

#pricing-part .price .details ul {
    text-align: center;
    padding-top: 50px;
}

#pricing-part .price .details ul li {
    margin: 10px 0;
    font-family: 'Open Sans', sans-serif;
    font-size: 14px;
    font-weight: 400;
}

#pricing-part .price a {
    font-family: 'Raleway', sans-serif;
    font-size: 16px;
    font-weight: 500;
    display: block;
    background: #444;
    color: #fff;
    text-align: center;
    text-transform: uppercase;
    padding-top: 50px;
    clip-path: polygon(0 34%, 100% 0, 100% 100%, 0% 100%);
    padding-bottom: 20px;
    transition: all linear .4s;
    -webkit-transition: all linear .4s;
    -moz-transition: all linear .4s;
    -ms-transition: all linear .4s;
    -o-transition: all linear .4s;
}

#pricing-part .price:hover h2 {
    background: rgb(0, 255, 0);
    color: black;
}

#pricing-part .price:hover .details .round .permonth {
    background: rgb(0, 255, 0);
    color: black;
}

#pricing-part .price:hover a {
    background: rgb(0, 255, 0);
    color: black;
}

/* =================================
    pricing end
==================================== */

/* =================================
    counter start
==================================== */

#counter-part {
    background: url(../images/counter-bg.jpg) no-repeat center;
    background-size: cover;
    margin-top: 100px;
    clip-path: polygon(0 34%, 100% 0, 100% 67%, 0% 100%);
    background-attachment: fixed;
}

#counter-part .overlay {
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, .7);
    padding: 80px 0;
}

#counter-part .align {
    transform: rotate(-5deg);
}

#counter-part .item {
    padding: 25px;
    border: 1px solid #fff;
    color: #fff;
    text-align: center;
}

#counter-part .item h2 {
    font-family: 'Raleway', sans-serif;
    font-size: 30px;
    font-weight: 500;
    margin-bottom: 10px;
}

#counter-part .item p {
    font-family: 'Raleway', sans-serif;
    font-size: 14px;
    font-weight: 400;
}

/* =================================
    counter end
==================================== */

/* =================================
    team start
==================================== */

#member-part {
    margin-top: 80px;
}

#member-part .member {
    margin: 0 10px;
    border: 1px solid rgb(228, 225, 225);
    padding-bottom: 20px;
}

#member-part .member .img {
    background: #eee;
    text-align: center;
    padding-top: 20px;
    clip-path: polygon(0 0, 100% 0, 100% 81%, 0% 100%);
    position: relative;
}

#member-part .member .img img {
    margin: 0 auto;
}

#member-part .member .img .overlay {
    width: 100%;
    height: 0%;
    background: rgba(0, 255, 0, 0.6);
    position: absolute;
    top: 0;
    left: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    opacity: 0;
    transition: all linear .4s;
    -webkit-transition: all linear .4s;
    -moz-transition: all linear .4s;
    -ms-transition: all linear .4s;
    -o-transition: all linear .4s;
}

#member-part .member .img .overlay i {
    width: 50px;
    height: 50px;
    background: #fff;
    border-radius: 50%;
    text-align: center;
    line-height: 50px;
    color: #000;
}

#member-part .member:hover .img .overlay {
    height: 100%;
    opacity: 1;
}

#member-part .member .details {
    text-align: center;
}

#member-part .member .details h3 {
    font-size: 20px;
    font-weight: 500;
    font-family: 'Raleway', sans-serif;
    color: #111111;
    margin-top: 10px;
}

#member-part .member .details p {
    font-size: 16px;
    font-weight: 400;
    font-family: 'Raleway', sans-serif;
    color: #444444;
}

#member-part .member .details .icon {
    margin-top: -20px;
    opacity: 0;
    transition: all linear .4s;
    -webkit-transition: all linear .4s;
    -moz-transition: all linear .4s;
    -ms-transition: all linear .4s;
    -o-transition: all linear .4s;
}

#member-part .member .details .icon i {
    width: 30px;
    height: 30px;
    border: 1px solid #000;
    border-radius: 50%;
    text-align: center;
    line-height: 30px;
    color: #000;
    margin: 0px 5px;
    transition: all linear .4s;
    -webkit-transition: all linear .4s;
    -moz-transition: all linear .4s;
    -ms-transition: all linear .4s;
    -o-transition: all linear .4s;
}

#member-part .member:hover .details .icon {
    margin-top: 20px;
    opacity: 1;
}

#member-part .member .details .icon i:hover {
    background-color: rgb(0, 255, 0);
}

/* =================================
    team end
==================================== */

/* =================================
    sponsor part
==================================== */

#sponsor-part {
    margin-top: 100px;
    background: #eee;
    clip-path: polygon(0 34%, 100% 0, 100% 67%, 0% 100%);
    padding: 80px 0;
}

#sponsor-part .align {
    transform: rotate(-5deg);
}

#sponsor-part .item {
    margin: 0 10px;
    border: 1px solid #afafaf;
    padding: 35px 10px;
    display: flex;
    justify-content: center;
    align-items: center;
}

#sponsor-part .sponsor-slider .slick-center {
    border: 1px solid rgb(0, 255, 0);
}

/* =================================
    sponsor end
==================================== */

/* =================================
    footer start
==================================== */

footer {
    background: #222222;
    padding-top: 120px;
    margin-top: -150px;
}

footer .logo {
    text-align: center;
    border-bottom: 1px solid #555555;
    padding: 20px;
    transform: rotate(-5deg);
}

footer .logo img {
    transform: rotate(5deg);
}

footer .item {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin-top: 70px;
    border-right: 1px solid #eeeeee;
}

footer .item4 {
    border-right: none;
}

footer .item i {
    width: 35px;
    height: 35px;
    line-height: 35px;
    font-size: 18px;
    text-align: center;
    color: black;
    margin-bottom: 15px;
    background-color: rgb(0, 255, 0);
    border-radius: 50%;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    -ms-border-radius: 50%;
    -o-border-radius: 50%;
}

footer .item a {
    font-family: 'Raleway', sans-serif;
    font-weight: 500;
    font-size: 16px;
    color: #f1f1f1;
    transition: all linear .4s;
    -webkit-transition: all linear .4s;
    -moz-transition: all linear .4s;
    -ms-transition: all linear .4s;
    -o-transition: all linear .4s;
}

footer .item p {
    font-family: 'Raleway', sans-serif;
    font-weight: 500;
    font-size: 16px;
    color: #f1f1f1;
    width: 200px;
    text-align: center;
}

footer .item a:hover {
    color: rgb(0, 255, 0);
}

footer .footer-title {
    text-align: center;
}

footer .footer-title h2 {
    font-family: 'Raleway', sans-serif;
    font-size: 20px;
    font-weight: 500;
    text-transform: uppercase;
    color: #fff;
    margin-top: 50px;
}

footer .icon {
    text-align: center;
    margin: 20px 0px;
}

footer .icon i {
    width: 40px;
    height: 40px;
    border: 1px solid rgb(255, 255, 255);
    background-color: #fff;
    border-radius: 50%;
    text-align: center;
    line-height: 40px;
    color: #000;
    font-size: 20px;
    margin: 0px 5px;
    transition: all linear .4s;
    -webkit-transition: all linear .4s;
    -moz-transition: all linear .4s;
    -ms-transition: all linear .4s;
    -o-transition: all linear .4s;
}

footer .icon i:hover {
    background-color: rgb(0, 255, 0);
}

footer .copyright {
    text-align: center;
    background-color: #353535;
    margin-top: 30px;
}

footer .copyright p {
    font-size: 14px;
    color: #fff;
    font-family: 'Raleway', sans-serif;
    padding: 20px 0;
}

footer .copyright a {
    font-size: 14px;
    color: rgb(0, 255, 0);
    font-family: 'Raleway', sans-serif;
}

/* =================================
    footer end
==================================== */